<div class="loginPage">
    <span class="enter">Регистрация</span>
    <form action="#/chat" method="post" class="inputForm">
        <div class="input">
            {{{ firstNameInput }}}
            {{{ secondNameInput }}}
            {{{ emailInput }}}
            {{{ phoneInput }}}
            {{{ loginInput }}}
            {{{ passwordInput }}}
        </div>
        <div class="loginControls">
            {{{ signupButton }}}
            <a href="#/login" class="redirect">Войти</a>
        </div>
    </form>
</div>